### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

#configuration files
.env
db.sqlite3
config.json
.python-version
update_server.sh
